body {
  margin: 0px;
}
header {
  background-color: #8AC5C5;
  width: 100%;
  height: 50px;
  margin: 0px;
}
.Title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.Explanation {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}
.ButtonGroup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  border-radius: 100px;
  background-color: #bddbdb;
  text-align: center;

  margin-bottom: 25px;
}
.ButtonText {
  font-size: 15px;
  color: white;
}
.attention {
  font-size: 10px;
}
